/* responsive.css */
.grid-container {
	display: grid;
	gap: 16px;
	padding: 60px;
	color: #345541;
}

@media (min-width: 768px) {
	.grid-container {
		grid-template-columns: repeat(4, 1fr);
	}

	.content-width {
		width: 50%;
		margin-left: 10%;
	}
}

@media (max-width: 767px) {
	.grid-container {
		grid-template-columns: 1fr;
		padding: 24px;
	}

	.content-width {
		width: 90%;
		margin-left: 4%;
	}
}

.image-style {
	width: 100%; /* Adjust image width to fit the container */
	height: auto; /* Maintain aspect ratio */
	margin-top: 16px; /* Space between the image and the text */
	border-radius: 20px;
}
